@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&family=Inter:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap');

@import "tailwindcss";

@theme {
  --color-surface-tint: #396759;
  --color-on-background: #1b1c1a;
  --color-tertiary-container: #4b5565;
  --color-outline-variant: #c0c8c4;
  --color-primary-fixed-dim: #a0d1c0;
  --color-tertiary: #343e4d;
  --color-surface: #fbf9f5;
  --color-primary: #154539;
  --color-surface-container-high: #eae8e4;
  --color-on-surface-variant: #404945;
  --color-surface-container-lowest: #ffffff;
  --color-primary-container: #2f5d50;
  --color-secondary-container: #fdd39b;
  --color-surface-container: #efeeea;
  --color-inverse-on-surface: #f2f0ed;
  --color-error: #ba1a1a;
  --color-on-primary-container: #a3d4c3;
  --color-surface-dim: #dbdad6;
  --color-secondary-fixed-dim: #e8c089;
  --color-background: #fbf9f5;
  --color-secondary: #77592c;
  --color-surface-variant: #e4e2de;
  --color-inverse-primary: #a0d1c0;
  --color-outline: #717975;
  --color-surface-container-low: #f5f3ef;
  --color-on-surface: #1b1c1a;
  --color-on-primary: #ffffff;
  --color-inverse-surface: #30312e;
  --color-on-secondary: #ffffff;
  --color-on-tertiary: #ffffff;

  --font-headline: 'Plus Jakarta Sans', sans-serif;
  --font-body: 'Inter', sans-serif;
  --font-label: 'Inter', sans-serif;

  --radius: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
  --radius-2xl: 0.75rem;
  --radius-full: 9999px;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fbf9f5;
  color: #1b1c1a;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
}

.glass-header {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f5f3ef;
}
::-webkit-scrollbar-thumb {
  background: #c0c8c4;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #717975;
}

::selection {
  background-color: #2f5d50;
  color: #ffffff;
}
